.category {
  width        : 300px;
  height       : 300px;
  margin       : 20px 25px;
  border-radius: 40px;
  box-shadow   : 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor       : pointer;
  transition   : 0.4s;
}

.category .category__image {
  width        : inherit;
  height       : inherit;
  border-radius: 40px;
}

.category .category__image img {
  width        : inherit;
  height       : inherit;
  border-radius: 40px;
  object-fit   : cover;
}

.category .category__title {
  text-align   : center;
  border-radius: 0px 0px 40px 40px;
  font-family  : sans-serif;
  font-weight  : bold;
  font-size    : 30px;
  margin-top   : -80px;
  height       : 40px;
}

.category:hover {
  transform : scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}